/* formats the website development roadmap */
.website-development{
    margin-top: 10vh;
    font-size: large;
}

.website-development .heading{
    font-size: xx-large;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    margin-bottom: 2vh;
}

.website-development p{
    margin: 0vh 2vh;
}


/* formats the application development roadmap */
.app-development{
    margin-top: 10vh;
    font-size: large;
}

.app-development .heading{
    font-size: xx-large;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    margin-bottom: 2vh;
}

.app-development p{
    margin: 0vh 2vh;
}

/* formats the frontend development roadmap */
.frontend-development{
    margin-top: 10vh;
    font-size: large;
}

.frontend-development .heading{
    font-size: xx-large;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    margin-bottom: 2vh;
}

.frontend-development p{
    margin: 0vh 2vh;
}

/* formats the backend development roadmap */
.backend-development{
    margin-top: 10vh;
    font-size: large;
}

.backend-development .heading{
    font-size: xx-large;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    margin-bottom: 2vh;
}

.backend-development p{
    margin: 0vh 2vh;
}

hr{
    border: 2px solid;
}