.card {
    margin: 15vh 10vh 0vh 10vh;
}

.card .card-header {
    font-size: xx-large;
}

/* sets the card's margin to beautify webpage */
.card-container {
    margin: 5vh auto;
}


/* setting the margin of button of writing post */
.card-container .writing-post-card .post-card-container .container a {
    margin: 2vh 42vh 0vh 0vh;
}


/* setting the margin of button of Reading post */
.card-container .reading-post-card .post-card-container .container button {
    margin: 2vh 42vh 0vh 0vh;
}

/* increasing the size of the content written on the blogs webpage */
.blogs-content {
    font-size: large;
    margin: 1vh 2vh;
}

