/* sets the fixed navigation bar */
.navbar {
    position: fixed;
    z-index: 3;
    width: 100%;
    top: 0px;
}



/* beautify the footer */

.digital-coder-footer .logo .logoDC{
    width: 5vh;
    height: 5vh;
}

.digital-coder-footer .logo .logoDC, .digital-coder-footer .logo .organization-name{
    display: inline-block;
}

.digital-coder-footer{
    background-color: lightgray;
    width: 100%;
}
